.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore large scRNASeq genome and reference files
oyster_scRNASeq_jobs_genomic_resources_outs/sc_gigas_jobs_genomicresources/cgigas_uk_roslin_v1_genomic-mito.fa
oyster_scRNASeq_jobs_genomic_resources_outs/sc_gigas_jobs_genomicresources/GCF_902806645.1_cgigas_uk_roslin_v1_genomic-mito-CRv3.filtered.gtf
oyster_scRNASeq_jobs_genomic_resources_outs/sc_gigas_jobs_genomicresources/Cgigas_Roslin_mkref_genome-CRv3/star/Genome
oyster_scRNASeq_jobs_genomic_resources_outs/sc_gigas_jobs_genomicresources/Cgigas_Roslin_mkref_genome-CRv3/star/SA
oyster_scRNASeq_jobs_genomic_resources_outs/sc_gigas_jobs_genomicresources/Cgigas_Roslin_mkref_genome-CRv3/star/SAindex
oyster_scRNASeq_jobs_genomic_resources_outs/sc_gigas_jobs_genomicresources/Cgigas_Roslin_mkref_genome-CRv3/fasta/genome.fa
oyster_scRNASeq_jobs_genomic_resources_outs/sc_gigas_jobs_genomicresources/Cgigas_Roslin_mkref_genome-CRv3/genes/genes.gtf
# Ignore large CellRanger output files
oyster_scRNASeq_jobs_genomic_resources_outs/CellRanger_outputs_nobam/**/SC_RNA_COUNTER_CS/SC_RNA_COUNTER/_BASIC_SC_RNA_COUNTER/COUNT_GENES/fork0/join-*/files/barcode_summary.h5
oyster_scRNASeq_jobs_genomic_resources_outs/CellRanger_outputs_nobam/**/outs/molecule_info.h5
oyster_scRNASeq_jobs_genomic_resources_outs/CellRanger_outputs_nobam/**/outs/raw_feature_bc_matrix/matrix.mtx.gz
oyster_scRNASeq_jobs_genomic_resources_outs/CellRanger_outputs_nobam/**/outs/raw_feature_bc_matrix.h5
# Ignore Monocle RDS object
oyster_scRNASeq_jobs_genomic_resources_outs/Monocle_Rscripts_RDS/oyster_gastrula.RDS

osf-up.Rmd
test_bigfile.txt
